body {
	background-color: #cecece;
	width: 100vw;
	height: 100vh;
}

.main-page-container {
	color: white;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.form-container {
	display: grid;
	justify-items: center;
	grid-template-rows: 1fr 5fr;
	background-color: #4c4c4c;
	border-radius: 10px;
	min-width: 470px;
	height: 525px;
}

.form-container > * {
	width: 90%;
}

h1 {
	text-align: center;
	margin-top: 0;
	font-size: 2.3em;
}

form {
	display: grid;
	row-gap: 20px;
	grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 1fr;
	grid-template-columns: auto;
}

.input-container {
	position: relative;
	display: flex;
	justify-content: flex-start;
}

.accept-conditions-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

input:not([type="submit"]) {
	border-radius: 15px;
	color: #a4b355;
	font-weight: 600;
	font-size: large;
	display: flex;
	padding-left: 65px;
	height: 45px;
	width: 100%;
}

.input-container img {
	position: absolute;
	left: 20px;
	top: 40%;
	transform: translateY(-50%);
	height: 30px;
}

#password-icon {
	left: 26px;
	top: 45%;
	height: 35px;
}

input[type="submit"] {
	border-radius: 15px;
	color: white;
	background-color: #a4b355;
	width: 40%;
	height: 90%;
	justify-self: end;
}

input[type="checkbox"] {
	width: 43px;
	height: 22px;
}
